<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Training.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA6BA64A1F41ED5F0018A451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6BA65E1F41ED600018A451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6BA6691F41ED600018A451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
